<!DOCTYPE html>
<html>
<head>
    <title>Compare Excel Files</title>
</head>
<body>
    <h1>Upload Old And New Modified Excel Files For Comparison</h1>
    <form action="/third" method="post" enctype="multipart/form-data">
        <input type="file" name="file1"><br><br>
        <input type="file" name="file2"><br><br>
        <button type="submit" name="compare">Compare Quantities</button><br><br>
        <button type="submit" name="save_file">Save Result File</button><br><br>
    </form>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
    <div style="display: flex;">
        <div>
            <h2>File 1 Data</h2>
            {% if data1 %}
                {{ data1|safe }}
            {% endif %}
        </div>
        <div>
            <h2>File 2 Data</h2>
            {% if data2 %}
                {{ data2|safe }}
            {% endif %}
        </div>
    </div>
    {% if result_data %}
        <div>
            <h2>Comparison Result</h2>
            {{ result_data|safe }}
        </div>
    {% endif %}
</body>
</html>
